spring.application.name=fintech-backend
spring.datasource.url=jdbc:sqlserver://localhost\\SQLEXPRESS;databaseName=fintech;encrypt=false;trustServerCertificate=true
spring.datasource.username=sa
spring.datasource.password=CHANGE_ME

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.SQLServerDialect


jwt.secret=CHANGE_ME


pluggy.client-id=
pluggy.client-secret=
